.Login {
  border: 1px solid black;
  text-align: center;
  margin: 3rem auto;
  padding: 1rem;
  width: 90%;
  max-width: 30rem;
  border-radius: 5px;
box-shadow: 8px 15px 13px 3px rgba(0,0,0,0.8);
}

.Login h1{
  text-align: center;
  margin-bottom: 1rem;
  color: white;
}
/* контроль класса через <div className={classes.control}> */
.control{
  margin-bottom: 1rem;
}

.control label{
  display: block;
  color:white;
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.control input{
  font: inherit;
  background-color: antiquewhite;
  color:rgb(78, 70, 70);
  width: 100%;
  padding: 0.2rem;
  border: 1px solid white;
  border-radius:       5px;
}

.actions{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 2rem;
}
