.Visuel{
  flex-wrap: wrap;
  height: 85%;
  background-color:rgb(89, 90, 92);
  color:rgb(114, 111, 111);
}
.PartieCentre{
  display: flex;
  justify-content: space-around;
}
.SectionMain{
  background-image: url("/Users/vladimirsinkevitch/Desktop/DEV/REACT_Bocal/travelbook/travelbook/src/Components/Elements/getty_583734066_335273.jpeg");
  background-position: center; 
  border: 1px solid black;
  text-align: center;
  margin: 0rem 1rem;
  padding: 1rem;
  height: 70vh;
  width: 100%;
  border-radius: 5px;
  box-shadow: 8px 15px 13px 3px rgba(0,0,0,0.8);
}
.SectionMain input{
  font: inherit;
  background-color: rgb(214, 213, 209);
  color:rgb(78, 70, 70);
  width: 60%;
  padding: 0.2rem;
  border: 1px solid rgb(146, 144, 144);
  border-radius:       5px;
}
.SectionMain h1{
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(140, 135, 135);
}
.SectionMain label{
  
  display: block;
  color:rgb(89, 75, 75);
  font-weight: bold;
  margin: 0.5rem;
}
.actions{
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 2rem;
}

.SectionMain button{
  font: inherit;
  background-color:antiquewhite;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  color:rgb(78, 70, 70);
}
.SectionMain button:hover{
  background-color:rgb(204, 190, 171);
  border-color: beige;
}

.DeuxBtnMain {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 1rem;
}
.DeuxBtnMain div{
  margin: 1rem;
}
.LinkMain{
  text-decoration: none;
  font: inherit;
  background-color:antiquewhite;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 1px solid white;
  cursor: pointer;
  color:rgb(78, 70, 70);
  
}
.LinkMain:hover{
  background-color:rgb(204, 190, 171);
  border-color: beige;
}