.MainContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	margin-top: 10px;
}

.InputBox {
	height: 1rem;
	width: 350px;
	background-color: white;
}

.CommentContainer {
	height: 1rem;
	width: 30rem;
	background-color: rgb(211, 246, 252);
	word-break: break-all;
	margin: 10px 0;
	border-radius: 3px;
}
.formular .NewComment {
	font-family: Arial;
	padding: 0.2rem;
	margin: 0.2rem;
	border-width: 1px;
	color: #3a8a9e;
	border-color: #d6bcd6;
	font-weight: italic;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	box-shadow: 3px 4px 6px 0px #899599;
	text-shadow: 2px 2px 4px #e1e2ed;
	background: linear-gradient(rgba(233, 218, 218, 1), #bab1ba);
}
