.Header {
  background-color:rgb(212, 248, 248);
  border: 1px solid black;
  text-align: center;
  margin: 0 1rem 1rem;
  padding: 1rem;
  width: 95%;
  height: 5vh;
  border-radius: 5px;
box-shadow: 8px 15px 13px 3px rgba(0,0,0,0.8);
display: inline-flex;
}
