/* pour faire 1rem == 10px et 16px */
/* :root{
  font-size: 62.5%;
} */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}
ul {
	color: #ffffff;
	text-shadow: 3px 5px 4px #474747;
}
body {
	font-family: sans-serif;
}
