/* pour faire 1rem == 10px et 16px */
/* :root{
  font-size: 62.5%;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(105, 101, 101);
  font-family: sans-serif;
}